// Descriptive Colors
$white: #ffffff;
$blue: #006DFE;
$red: #ee4f34;
$gray: #9b9b9b;
$gray-line: #c5c5c5;
$gray-table: #979797;
$light-gray: #eeeeee;
$black: #000000;
$electric-blue: #1553A5;
$light-blue: #dfeaf9;
$green: #239d45;
$yellow: #bbbb35;
// Functional Colors
$primary--color: $blue;
$secondary--color: $white;

//Font-sizes
$font-size-small: 10px;
$font-size-regular: 12px;
$font-size-big: 14px;
$font-size-very-big: 16px;
$font-size-super-big: 20px;

//Margins & padding
