<div class="main-container">
  <div class="operation-container">
    <div fxLayout="row">
      <div fxFlex="50" fxFlex.xs="50">
        <div class="title-container">
          <span class="sub-title">{{'massivePayments.officeOperation.operationSubtitle' |translate}}</span>
        </div>
        <form [formGroup]="operationForm" class="operationForm" #form="ngForm" appScrollToFirstInvalid>
          <mat-radio-group formControlName="operationType">
            <mat-radio-button class="radio-button-spacing radio-button" value="1">
              {{'massivePayments.officeOperation.paymentOperationTypeP' |translate}}
            </mat-radio-button>
            <mat-radio-button value="2">
              {{'massivePayments.officeOperation.paymentOperationTypeC' |translate}}
            </mat-radio-button>
          </mat-radio-group>
        </form>
      </div>
      <div fxFlex="50" fxFlex.xs="50">
        <div class="title-container">
          <span class="sub-title">{{'massivePayments.officeOperation.peymentTypes' |translate}}</span>
        </div>
        <form [formGroup]="paymentTypeForm" class="paymentTypeForm" #form="ngForm" appScrollToFirstInvalid
              style="margin-bottom: 40px;">
          <mat-radio-group formControlName="paymentType">
            <mat-radio-button class="radio-button" value="1">
              {{'massivePayments.officeOperation.massivePaymentType' |translate}}
            </mat-radio-button>
            <mat-radio-button value="2">
              {{'massivePayments.officeOperation.individualPaymentType' |translate}}
            </mat-radio-button>
          </mat-radio-group>
        </form>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="50" fxFlex.xs="50">
        <div class="title-container">
          <span class="sub-title">{{'massivePayments.officeOperation.services' |translate}}</span>
        </div>
        <form [formGroup]="servicesForm" class="servicesForm" #form="ngForm" appScrollToFirstInvalid>
          <mat-form-field class="input-container">
            <mat-select formControlName="service">
              <mat-option [value]="sv" *ngFor="let sv of services">
                {{'massivePayments.officeOperation.servicesOptions.' + sv | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="100" class="button-group-container">
    <button appNoDblClickMat (click)="continue()" class="button-group-separator" mat-raised-button type="button">
      {{'general.continue-button' | translate}}
    </button>
  </div>
</div>
