<form [formGroup]="filterForm" #form="ngForm" appScrollToFirstInvalid (ngSubmit)="onSubmit(filterForm.value)">
  <div class="form-data-container">
    <div fxLayout="row">
      <div fxFlex="50" fxFlex.xs="50" class="add-padding">
        <mat-form-field class="input-container">
          <input autocomplete="off" matInput name="userName" type="text"
                 placeholder="{{'security.roles.filter.rol' |translate}}" formControlName="rol"
                 [patterns]="patternAlphaNumericAndSpaces" mask="#{30}" maxlength="31">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" class="button-group-container">
      <button *ngIf="showClean" mat-raised-button class="button-group-separator white-button" type="button"
              (click)="clean()">
        {{'general.clean-button' |translate}}
      </button>
      <button mat-raised-button class="button-group-separator" type="submit" [disabled]="!filterForm.controls.rol.value || readonlyForm">
        {{'general.search-button' |translate}}
      </button>
    </div>
  </div>
</form>
