@import "mixins";
@import "constants";

.logout-logo {
  font-size: 18px;
  color: $blue;
  margin: 0 auto;
  font-weight: bold;
}

.logout-container {
  width: 18px;
  height: 18px;
  background-color: $white;
  cursor: pointer;
}
