<div>
  <form [formGroup]="filterForm" #form="ngForm" appScrollToFirstInvalid (ngSubmit)="onSubmit(filterForm.value)">
    <div class="form-data-container">
      <div fxLayout="row">
        <div fxFlex="50" fxFlex.xs="50" class="add-padding">
          <mat-form-field class="input-container">
            <input autocomplete="off" type="text" matInput name="file"
                   placeholder="{{'reportsModule.filter.file' |translate}}"
                   formControlName="file" [patterns]="patternAlphaNumeric" mask="#{14}" maxlength="13">
          </mat-form-field>
          <!--<mat-error *ngIf="invalid">{{'errors.field' | translate}}</mat-error>-->
        </div>
        <div fxFlex="50" fxFlex.xs="50" class="add-padding">
          <mat-form-field class="input-container">
            <mat-select placeholder="{{'reportsModule.filter.report' | translate}}"
                        formControlName="report">
              <mat-option value="">
                {{'reportsModule.filter.reports.ALL'| translate}}
              </mat-option>
              <mat-option *ngFor="let rp of reports" [value]="rp">
                {{'reportsModule.filter.reports.' + rp | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="50" fxFlex.xs="50" class="add-padding">
          <mat-form-field class="input-container">
            <input autocomplete="off" type="text" matInput name="description"
                   placeholder="{{'reportsModule.filter.description' |translate}}"
                   formControlName="description" [patterns]="patternAlphaNumeric" mask="#{14}" maxlength="13">
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.xs="50" class="add-padding">
          <mat-form-field class="input-container">
            <mat-select placeholder="{{'reportsModule.filter.orderBy' | translate}}" formControlName="orderBy">
              <mat-option *ngFor="let ob of orderByTypes" [value]="ob">
                {{'reportsModule.filter.orderByTypes.' + ob | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="100" class="button-group-container">
        <button appNoDblClickMat *ngIf="showClean" mat-raised-button class="white-button button-group-separator" type="button"
                (click)="clean()">
          {{'fileQuery.operator.filter.clean-button' |translate}}
        </button>
        <button appNoDblClickMat mat-raised-button class="button-group-separator" type="submit"
                [disabled]="!filterForm.valid || !enabledButton">
          {{'fileQuery.operator.filter.search-button' |translate}}
        </button>
      </div>
    </div>
  </form>
</div>
