@import "mixins";
@import "constants";

.roundedSection {
  border-radius: 4px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

.infoSection {
  background-color: $light-blue;
  padding: 20px 20px;
}

.description {
}

.value {
}

.description p {
  text-align: right;
}
