<div *ngIf="showData">
  <div fxLayout="row">
    <div fxFlex="50">
      <div class="title-container">
        <span class="title">{{'referencedPayment.detailTitle' | translate}}</span>
      </div>
    </div>
    <!--Download button-->
    <div fxFlex="50" fxLayoutAlign="end center" *ngIf="!onlyConsult">
      <div class="button" (click)="onRequestClick()">
        <mat-icon class="icon" svgIcon="descargar"></mat-icon>
      </div>
      <div class="icon-info-content">
        <span>{{'history.referencedPaymentHistory.detail-request-button' | translate}}</span>
      </div>
      <div class="button" (click)="onReceiptClick()">
        <mat-icon class="icon" svgIcon="descargar"></mat-icon>
      </div>
      <div class="icon-info-content">
        <span>{{'history.referencedPaymentHistory.detail-receipt-button' | translate}}</span>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex="50">
      <two-referenced-payment-detail-section [data]="historyInformation"></two-referenced-payment-detail-section>
    </div>
  </div>

  <div fxLayout="row" class="accounts-container">
    <div fxFlex="50">
      <two-referenced-payment-detail-accounts [listData]="accounts"></two-referenced-payment-detail-accounts>
    </div>
  </div>
</div>

