<div mat-dialog-title class="dialog-header"></div>

<div mat-dialog-content>
  <div class="message-content">
    <p class="dialog-message">
      {{data.message | translate}}
    </p>
  </div>
</div>

<div mat-dialog-actions class="dialog-buttons">
  <button appNoDblClickMat mat-raised-button class="white-button first-button" type="button" (click)="close('N')">
    {{'general.cancel-button'|translate}}
  </button>
  <button appNoDblClickMat mat-raised-button class="second-button" type="button" (click)="close('Y')">
    {{'general.continue-button'|translate}}
  </button>
</div>
