<div>
  <form [formGroup]="filterForm" #form="ngForm" appScrollToFirstInvalid>
    <div class="form-data-container">
      <div fxLayout="row">
        <div fxFlex="50" fxFlex.xs="50" class="add-padding">
          <mat-form-field class="input-container">
            <input autocomplete="off" type="text" matInput name="client"
                   formControlName="client"
                   placeholder="{{'pld.beneficiaries.filter.client' |translate}}" mask="0{10}" maxlength="9">
          </mat-form-field>
          <mat-error *ngIf="f.client.touched && f.client.invalid">
            {{'errors.field' | translate}}
          </mat-error>
        </div>
      </div>

    </div>
    <div fxLayout="row">

      <div fxFlex="100" class="button-group-container">
        <button appNoDblClickMat mat-raised-button class="button-group-separator white-button"
                type="button">
          {{'fileQuery.operator.filter.clean-button' |translate}}
        </button>
        <button [disabled]="f.client.value == '' || f.client.invalid" appNoDblClickMat mat-raised-button class="button-group-separator" type="submit">
          {{'fileQuery.operator.filter.search-button' |translate}}
        </button>
      </div>
    </div>
  </form>
</div>
